{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="content">

    <div class="home">
        <img src={{asset("media/logogif.gif")}}>
        <h1>Bienvenue au QG des voleurs fantomes !</h1>

        <a href="https://google.com"><h2>Les news</h2></a>
        <a href="https://google.com"><h2>Articles</h2></a>

        <a href="https://google.com"><h2>Speedrun</h2></a>
        <a href="https://google.com"><h2>Annonces</h2></a>
    </div>

</div>
{% endblock %}
