body {
    background-image: url("/media/bg4.jpg");
    background-repeat: no-repeat;
    background-color: black;
    text-align: center;
}

header {
    padding-top: 7px;
    margin-bottom: 7px;
    background-color: rgb(72, 72, 72);
    border : 5px solid rgb(152, 0, 0);
    border-radius: 20px;
}

.header {
    display : inline-block;
    width : 100%;
}

.logo {
    margin-left: 200px;
}

.titre {
    margin-left : 170px;
}

.texthead {
    float : right;
    margin-right: 200px;
    margin-top: 20px;
}



p, h2, h1, tr, th, td {
    color : white;
}

a {
    text-decoration: none;
    color : rgb(220, 0, 0);
}


.imghead {
    float : left;
}

.content {
    width : 50%;
    height : auto;
    display: inline-block;
    background-color:rgb(72, 72, 72);
    padding: 20px;
    padding-bottom: 60px;
    text-align: center;
    font-weight: bold;
    border : 5px solid rgb(153, 0, 0);
    border-radius: 20px;
}

th, td, tr {
    padding: 10px;
    border-bottom: 3px solid rgb(152, 0, 0);
    text-align: left;
}

th {
    width : 300px;
}

.droite {
    float : right;
    margin-right: 10%;
}

.article {
    border-radius: 20px;
    border : 3px solid white;
    width : 30%;
    padding-top: 10px;
    padding: 10px;
    padding-bottom: 0px;
    margin: 5%;
    margin-top:40px;
    background-color: rgb(110, 0, 0);
    display: inline-block;
    vertical-align: middle ;
}
