<div class="formulaire">
<div class="form">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <br>
    <button class="btn">{{ button_label|default('Créer') }}</button>
{{ form_end(form) }}
</div>
</div>