{% extends 'base.html.twig' %}

{% block title %}Créer un article{% endblock %}

{% block body %}
<div class="content">
    <h1>Créer un article</h1>
    <br>
    {{ include('profile_articles/_form.html.twig') }}

    <br>
    <a href="{{ path('app_profile_articles_index') }}">retour à la liste</a>
</div>
{% endblock %}