<form method="post" action="{{ path('app_admin_delete_contact', {'id': contact.id}) }}" onsubmit="return confirm('Vous êtes sûr de vouloir supprimer le contact ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
    <button class="btn">Supprimer le contact</button>
</form>