<form method="post" action="{{ path('app_admin_delete_users', {'id': user.id}) }}" onsubmit="return confirm('Vous êtes sûr de vouloir supprimer l'utilisateur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn">Supprimer l'utilisateur</button>
</form>
