<form method="post" action="{{ path('app_admin_delete_articles', {'id': articles.id}) }}" onsubmit="return confirm('Vous êtes sûr de vouloir supprimer l'article ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ articles.id) }}">
    <button class="btn">Supprimer l'article</button>
</form>
