{% extends 'base.html.twig' %}

{% block title %}Les news{% endblock %}

{% block body %}
<div class="content">

    <h1>Les dernières news sur persona 5 !</h1>

    <br>
    <br>
    <br>

    <div class="news">
        <h2>Persona 5 Royal sort sur toutes les plateformes !!!</h2>
        <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">
                Let’s finish this, Phantom Thieves! 
                <br>
                <br>
                Deal the final blow against corrupted hearts in Persona 5 Royal, now available on modern platforms! 💥 
                <a href="https://t.co/Dw7bQMVTpe">pic.twitter.com/Dw7bQMVTpe</a>
            </p>&mdash; Official ATLUS West (@Atlus_West) 
            <a href="https://twitter.com/Atlus_West/status/1583458095078014976?ref_src=twsrc%5Etfw">October 21, 2022</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <p>ça y est enfin ! Persona 5 Royal est disponibles sur toutes les plateformes possibes, plus d'excuses pour ne pas y jouer maintenant !</p>
    </div>

    <div class="news">
        <h2>Le 25ème anniversaire de Persona est fini !</h2>
        <h3>Que doit-on en retenir ?</h3>
        <img src={{asset("media/hb.jpg")}} alt="image persona 25ème anniversaire" width="90%">
        <p>retrouve toutes les info </p>
        <a href="http://trucsetastucesjeux.com/le-25e-anniversaire-de-persona-se-termine-sans-actualite-majeure-de-persona-6/">ici</a>
    </div>


</div>
{% endblock %}
